.button {
    min-width: 120px;
    padding: 8px;
    margin: 5px;
    border-radius: 20px;
    font-size: medium;
    border: none;
    color: #fff;
    background-color: rgb(255, 183, 50);
    transition: color 0.3s;
    cursor: pointer;
}